  <footer class="footer">
    <br>
    <div class="container">
      <div class="row content justify-content-center align-items-start">
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <div class="address">
            <h3 class="address-title mbr-fonts-style pb-2 text-center display-5">Adresse</h3>
            <p class="address-block mbr-fonts-style pb-3 text-center display-7">
              2 rue Favre<br>
              Chambéry, 73000
            </p>
            <h3 class="email-title mbr-fonts-style pb-2 text-center display-5">Email</h3>
            <p class="Email-block mbr-fonts-style pb-3 text-center display-7">
              Parrot@example.com<br>
            </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 opening-hours pb-3 text-center">
          <h3 class="opening-hours-title pb-3 mbr-fonts-style text-center display-5">Horaires</h3>
          <ul>
           {% for openingTime in openingTimes %}
            <li class="openingtime">{{ openingTime.jour }} : {{ openingTime.ouverture.format('H:i') }} - {{
              openingTime.fermeture.format('H:i') }}</li>
            {% endfor %}
            <li class="openingtime">Dimanche : Fermé</li>
          </ul>
        </div>
        <div class="form-1 col-sm-12 col-md-5 col-xl-4 col-lg-3" data-form-type="formoid">
          <h3 class="form-title pb-3 mbr-fonts-style text-center display-5">Contact</h3>
          <p class="text-center">Numéro de telephone</p>
          <p class="text-center">+(33)51515151</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <p class="copyrate mbr-fonts-style display-7">Garage V.Parrot &copy; 2024. Tous droits réservés.</p>
    </div>
  </footer>
